<%= form_for(@job) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_field :description, class:"form-control" %>
  </div>
   
  <div class="form-group">
    <%= f.label :place %><br>
    <%= f.text_field :place, class:"form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :length %><br>
    <%= f.number_field :length, class:"form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :function %><br>
    <%= f.text_field :function, class:"form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :company %><br>
    <%= f.text_field :company, class:"form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :educationlevel %><br>
    <%= f.text_field :educationlevel, class:"form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :yearsexperience %><br>
    <%= f.number_field :yearsexperience, class:"form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :field1 %><br>
    <%= f.text_field :field1, class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :field2 %><br>
    <%= f.text_field :field2, class:"form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :hourlyrate %><br>
    <%= f.number_field :hourlyrate, class:"form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :region %><br>
    <%= f.text_field :region, class:"form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :field2 %><br>
    <%= f.text_field :field2, class:"form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.submit "Send", class:"btn btn-primary"%>
  </div>
<% end %>
