<div class="container bottom-buffer">

  <p id="notice"><%= notice %></p>
  
  <h1>Listing Jobs</h1>
  
  <table>
    <thead>
      <tr>
        <th>Description</th>
        <th>Place</th>
        <th>Length</th>
        <th>Function</th>
        <th>Company</th>
        <th>Educationlevel</th>
        <th>Yearsexperience</th>
        <th>Field1</th>
        <th>Field2</th>
        <th>Hourlyrate</th>
        <th>Region</th>
        <th>Field2</th>
        <th colspan="3"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @jobs.each do |job| %>
        <tr>
          <td><%= job.description %></td>
          <td><%= job.place %></td>
          <td><%= job.length %></td>
          <td><%= job.function %></td>
          <td><%= job.company %></td>
          <td><%= job.educationlevel %></td>
          <td><%= job.yearsexperience %></td>
          <td><%= job.field1 %></td>
          <td><%= job.field2 %></td>
          <td><%= job.hourlyrate %></td>
          <td><%= job.region %></td>
          <td><%= job.field2 %></td>
          <td><%= link_to 'Show', job %></td>
          <td><%= link_to 'Edit', edit_job_path(job) %></td>
          <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <br>
  
  <%= link_to 'New Job', new_job_path, class:"btn btn-primary" %>

</div>