<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @job.description %>
</p>

<p>
  <strong>Place:</strong>
  <%= @job.place %>
</p>

<p>
  <strong>Length:</strong>
  <%= @job.length %>
</p>

<p>
  <strong>Function:</strong>
  <%= @job.function %>
</p>

<p>
  <strong>Company:</strong>
  <%= @job.company %>
</p>

<p>
  <strong>Educationlevel:</strong>
  <%= @job.educationlevel %>
</p>

<p>
  <strong>Yearsexperience:</strong>
  <%= @job.yearsexperience %>
</p>

<p>
  <strong>Field1:</strong>
  <%= @job.field1 %>
</p>

<p>
  <strong>Field2:</strong>
  <%= @job.field2 %>
</p>

<p>
  <strong>Hourlyrate:</strong>
  <%= @job.hourlyrate %>
</p>

<p>
  <strong>Region:</strong>
  <%= @job.region %>
</p>

<p>
  <strong>Field2:</strong>
  <%= @job.field2 %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
