<body>
	<div class="jumbotron">
      		<h1 class="text-center">Start Working Now with 88Freelance</h1>
    		<h2 class="text-center">Projects in Services and IT</h2>
    </div>
	<div class="container">

	    <div class="row">
	    	
	      	<div class="col-md-6 center">
	      		<div class="text-center">
	      			<span class="glyphicon glyphicon-search"></span>
		      		<%= image_tag("/templates/img/home-icon-zzper.jpg") %>
		      		<h2>Find a Job</h2>
		      		<p class="lead">Are you a freelancer looking for a Job?<br class="hidden-xs" />Then this is the place to be!</p>
					<div class="clearfix">
					  <div class="counter-wrapper">
					    <ul class="flip-counter small"></ul>
					  </div>
					</div>
					<p>Total available jobs</p>
					<%= link_to "Start Now", "#", class:"btn btn-primary buttonnorm btn-lg" %>	
				</div>
	      	</div>
	      	
	      	<hr class="visible-xs"/>
	      	
	      	<div class="col-md-6 center">
	      		<div class="text-center">
		      		<%= image_tag("/templates/img/home-icon-opdrachtgever.jpg") %>
		      		<h2>Find Talent </h2>
		      		<p class="lead">Looking for talent? At 88Freelance you will<br class="hidden-xs" />the right people!</p>
		
					<div class="clearfix">
					  <div class="counter-wrapper">
					    <ul class="flip-counter small"></ul>
					  </div>
					</div>
					<p>Total active freelancers</p>
					<%= link_to "Find Now", "#", class:"btn btn-primary buttonnorm btn-lg" %>
	      		</div>
	      	</div>
    
		</div>
		<hr />
      
      	<div class="row">
	      	<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 center">
	      		<h1 class="text-center">New Projects Everyday</h1>	
	      		<p class="lead text-center">Receive alerts and apply immediately</p>
	  
	      		<div class="well whitewell">
	      			<h3 class="centersmallbg text-center"><span>RECENT PROJECTS</span></h3>
	      		<div class="als-container">
	      			
					<div class="als-viewport">
						<ul class="als-wrapper">
							<li class="als-item"><span class="hidden-xs">15/10</span><span><a href="/opdracht/42902/projectleader-digital-tv-/" title="Projectleader Digital TV ">Projectleader Digital TV </a></span><span style="width: 110px; overflow: hidden;" class="hidden-xs">Amsterdam ..</span></li>
							<li class="als-item"><span class="hidden-xs">15/10</span><span><a href="/opdracht/42901/inkoopadviseur/" title="Inkoopadviseur">Inkoopadviseur</a></span><span style="width: 110px; overflow: hidden;" class="hidden-xs">Meppel</span></li>
							<li class="als-item"><span class="hidden-xs">15/10</span><span><a href="/opdracht/42900/video-engineer/" title="Video Engineer">Video Engineer</a></span><span style="width: 110px; overflow: hidden;" class="hidden-xs">Amsterdam ..</span></li>
							<li class="als-item"><span class="hidden-xs">15/10</span><span><a href="/opdracht/42899/consulent-specialist-jeugdhulp/" title="Consulent Specialist Jeugdhulp">Consulent Specialist Jeugdhulp</a></span><span style="width: 110px; overflow: hidden;" class="hidden-xs">Regio Hilv..</span></li>
							<li class="als-item"><span class="hidden-xs">15/10</span><span><a href="/opdracht/42898/security-operator/" title="Security Operator">Security Operator</a></span><span style="width: 110px; overflow: hidden;" class="hidden-xs">Zwolle</span></li>
							<li class="als-item"><span class="hidden-xs">15/10</span><span><a href="/opdracht/42897/java-web-developer/" title="Java Web Developer">Java Web Developer</a></span><span style="width: 110px; overflow: hidden;" class="hidden-xs">Arnhem</span></li>
							<li class="als-item"><span class="hidden-xs">15/10</span><span><a href="/opdracht/42896/ssissql-server-support-engineer/" title="SSIS/SQL Server support engineer">SSIS/SQL Server support engineer</a></span><span style="width: 110px; overflow: hidden;" class="hidden-xs">Den Haag</span></li>
							<li class="als-item"><span class="hidden-xs">15/10</span><span><a href="/opdracht/42895/functioneel-tester-/" title="Functioneel Tester ">Functioneel Tester </a></span><span style="width: 110px; overflow: hidden;" class="hidden-xs">Zoetermeer</span></li>
							<li class="als-item"><span class="hidden-xs">15/10</span><span><a href="/opdracht/42894/application-manager/" title="Application Manager">Application Manager</a></span><span style="width: 110px; overflow: hidden;" class="hidden-xs">Apeldoorn</span></li>
							<li class="als-item"><span class="hidden-xs">15/10</span><span><a href="/opdracht/42893/microsoft-dynamics-crm-developer/" title="Microsoft Dynamics CRM Developer">Microsoft Dynamics CRM Developer</a></span><span style="width: 110px; overflow: hidden;" class="hidden-xs">Utrecht</span></li>
				    	</ul> <!-- als-wrapper end -->
				 	</div> <!-- als-viewport end -->
				</div> <!-- als-container end -->				      			
	      		</div>
	      		<div class="text-center"><%= link_to "See all projects", "#", class:"btn btn-primary buttonnorm" %></div>
      		</div>
    	</div>
	</div>	 
	</br>
	<div class="breakout">
      	<div class="container-fluid" style="background-color: #F1F1F1">
	      	<div class="row" >
	      		<h2 class="text-center">Our Partners</h2>
	      		<div class="col-md-12 col-md-offset-3">
					<hr class="first" />
						<div class="col-md-1"><%= link_to image_tag("/templates/img/partners/partner-ns.png"), "#", class:"img-responsive" %></div>
						<div class="col-md-1"><%= link_to image_tag("/templates/img/partners/partner-profielfotograaf.png"), "#", class:"img-responsive" %></div>
						<div class="col-md-1"><%= link_to image_tag("/templates/img/partners/partner-meeus.png"), "#", class:"img-responsive" %></div>
						<div class="col-md-1"><%= link_to image_tag("/templates/img/partners/partner-knab.png"), "#", class:"img-responsive" %></div>
                        <div class="col-md-1"><%= link_to image_tag("/templates/img/partners/partner-easystaff.png"), "#", class:"img-responsive" %></div>
                        <div class="col-md-1"><%= link_to image_tag("/templates/img/partners/partner-moneymonk.png"), "#", class:"img-responsive" %></div>
						</br>
			    </div>
			</div>
		</div>     	
	</div>
      	
	<div class="container">
		<div class="row">
      		<div class="col-sm-6 center">
				<h2 class="text-center">Our Latest News</h2>
					<div>	
						<a href="/blog/nieuws/784/knab-zakelijk-haalt-meeste-klanten-weg-bij-rabo">Knab Zakelijk haalt meeste klanten weg bij Rabo</a><br />
						<p class="xsmall"> 9 oktober, 2015</p>
					</div>
					<div>	
						<a href="/blog/ledenkorting/781/profielfotodagen-13-en-14-november">Profielfotodagen: 13- en 14 november</a><br />
						<p class="xsmall"> 1 oktober, 2015</p>
					</div>
                <p class="text-left">
                    <a class="small" href="/blog/">More News &gt;</a>
                </p>

      		</div>
      	
      		<div class="col-sm-6 center">
      		
      			<h2 class="text-center">What Freelancers Say About Us</h2>
				<div id="carousel-example-generic" class="carousel fadeslow" data-ride="carousel" data-interval="8000">
					
					<!-- Wrapper for slides -->
					<div class="carousel-inner" role="listbox">
						<div class="item active">
							<div class="well whitewell quotewell">
				  				Ik volg al jaren POOQ. Het medium is geweldig, werkt super snel en is erg overzichtelijk. Ideaal voor iedere ZZP’er.
				  				<img src="/templates/img/quotepointer.png" class="pointer"/>
							</div>
							<a href="/zzpers/details/7256" >Arie Tuijl</a><br />
							<p class="xsmall">Technisch Facilitair Manager</p>
						</div>
						<div class="item">
							<div class="well whitewell quotewell">
								Pooq helpt mij om op een zeer gebruikersvriendelijke manier het aanbod van interessante HR opdrachten inzichtelijk te krijgen
								<img src="/templates/img/quotepointer.png" class="pointer"/>
							</div>
							<a href="/zzpers/details/6589/" >Kamiel Rietsema</a><br />
							<p class="xsmall">HR verandermanager</p>
						</div>
					</div>
				</div>	
      		</div>
		</div>
      	<br /><br />
    </div> <!-- /container --> 
    
  </body>
</html>
