<footer>
	     	
		<div class="container">
	     	
	      	<div class="row" >
	      		<div class="center">
			   
			   <span class="glyphicon glyphicon-twitter"></span>
			    <%= link_to image_tag("social-twitter.jpg"), "http://www.twitter.com", target:"_blank" %> &nbsp;	
					<%= link_to image_tag("social-facebook.jpg"), "http://www.facebook.com", target:"_blank" %> &nbsp;
          <%= link_to image_tag("social-googleplus.jpg"), "http://www.google.com", target:"_blank"%> &nbsp;
          <%= link_to image_tag("social-linkedin.jpg"), "http://www.linkedin.com", target:"_blank" %> &nbsp;
					<%= link_to image_tag("social-feed.jpg"), "#", target:"_blank" %> 
					<br /><br />
				</div>
				
				<div class="center" id="footer-menu">
				
					<p>Copyright 2015 88Freelance All Rights Reserved</p>
					
					<ul class="list-inline">
					  
						<%= link_to "How does it work?", how_path %>
						<%= link_to "Privacy", privacy_path %>
						<%= link_to "Terms", terms_path %>
						<%= link_to "FAQ", faq_path %>
						<%= link_to "Contact", contact_path %>
					</ul>
				</div>
			 </div>
			</div>
			
		</div>     	
	</footer>
