  <!-- Fixed navbar -->
  <nav class="navbar navbar-inverse">
    
    <div class="container">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "88Freelance", root_path, class:"navbar-brand" %>
      </div>
      
      <% if freelancer_signed_in? %>
      
    <!--If freelancer is signed in, show this navbar -->
    
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
		            <li class="active"><a href="/">Home</a></li>
		            <li><%= link_to "Dashboard", "#" %></li>
		            <li><%= link_to "Profile", "#" %></li>
		            <li><%= link_to "Jobs", jobs_path %></li>
		            <li><%= link_to "Discussions", "#" %></li>
		            <li><%= link_to "Tools", "#" %></li>
          </ul>

          <ul class="nav navbar-nav navbar-right navbar-btn">
            <div class="dropdown">
               <a class="dropdown-toggle dropdown-menu-right" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Che
              <span class="caret"></span>
              </a>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><%= link_to "Dashboard", "#" %></li>
                    <li><%= link_to "Account", "#" %></li>
                    <li><%= link_to "Change Password", edit_freelancer_password_path %></li>
                    <li><%= link_to "Logout", destroy_freelancer_session_path, method: :delete %></li>
                  </ul>
              </div><!--/.nav-collapse -->
        </ul>
        
      <% elsif employer_signed_in? %>
      
    <!-- If employer is signed in, show this navbar -->
      
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
		            <li class="active"><a href="/">Home</a></li>
		            <li><%= link_to "Dashboard", "#" %></li>
		            <li><%= link_to "My Jobs", "#" %></li>
		            <li><%= link_to "Profile", "#" %></li>
		            <li><%= link_to "Freelancers", "#" %></li>
		            <li><%= link_to "Discussions", "#" %></li>
		            <li><%= link_to "Tools", "#" %></li>
          </ul>

        <ul class="nav navbar-nav navbar-right navbar-btn">
          <div class="dropdown">
             <a class="dropdown-toggle dropdown-menu-right" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Che
            <span class="caret"></span>
            </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li><%= link_to "Dashboard", "#" %></li>
                  <li><%= link_to new_job_path do %>
                    <span class="glyphicon glyphicon-plus"></span>Place Job
                  <% end %>
                  </li>
                  <li><%= link_to "Change Password", edit_employer_password_path %></li>
                  <li><%= link_to "Logout", destroy_employer_session_path, method: :delete %></li>
                </ul>
          </div><!--/.nav-collapse -->
        </ul>
      
      <% else %>
      
      <!-- if not signed in, show this navbar -->
      
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
		            <li><%= link_to "Jobs", jobs_path %></li>
		            <li><%= link_to "Freelancers", "#" %></li>
		            <li><%= link_to "Employers", "#" %></li>
          </ul>

          <ul class="nav navbar-nav navbar-right navbar-btn">
              <%= link_to "LOGIN Freelancer", new_freelancer_session_path, class:"btn btn-primary" %>
              <%= link_to "LOGIN Employer", new_employer_session_path, class:"btn btn-primary" %>
          </ul>
        </div><!--/.nav-collapse -->
      
      <% end %>
        
        
        
        
    </nav>
      
  </div><!--End Navbar-->